.tracking-app {
    width: 560px;
    background-color: #f8f9fa;
}

.tracking-app__footer {
    position: relative;
}

.add-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;

    &:hover {
        .add-item-button__inner-wrapper {
            box-shadow: rgb(204, 219, 232) 2px 2px 0px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 0px 1px inset;
        }

        .add-item-button__icon {
            width: 46px;
            height: 46px;
        }
    }

    &:active {
        .add-item-button__inner-wrapper {
            box-shadow: rgb(204, 219, 232) 3px 3px 0px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 0px 1px inset;
        }

        .add-item-button__icon {
            width: 44px;
            height: 44px;
        }
    }
}

.add-item-button__inner-wrapper {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 80px;
}

.activity-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 512px;
    overflow-y: auto;
}