.tracking-app {
    width: 560px;
    background-color: #f8f9fa;
}

.add-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px 0;
}

.activity-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 512px;
    overflow-y: auto;
}