.activity-item {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 1fr 48px 48px;
    gap: 4px;
    width: 100%;
    padding: 4px;
}

.activity-item::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 16px);
    background-color: #dadce0;
    bottom: 0;
    left: 8px;
}

.activity-item__time {
    font-size: 24px;
    text-align: center;
}

.activity-item__title {
    font-size: 24px;
    margin: 0;
}

.activity-item__control-button {
    height: 100%;
    padding: 0;
    border-radius: 4px;

    &:hover {
        box-shadow: rgb(204, 219, 232) 2px 2px 0px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 0px 1px inset;
        //box-shadow: rgb(204, 219, 232) 0px 0px 2px inset;

        .activity-item__icon {
            width: 38px;
            height: 38px;
        }
    }

    &:active {
        box-shadow: rgb(204, 219, 232) 3px 3px 0px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 0px 1px inset;
        //box-shadow: rgb(204, 219, 232) 0px 0px 6px 3px inset;

        .activity-item__icon {
            width: 36px;
            height: 36px;
        }
    }
}